div.col-md-offset-2.col-md-8.categories
  div.panel.panel-default
    div.panel-heading.clearfix
      table(width="100%")
        tr
          td
            h4.panel-title
              | Categories
          td.text-right
            a.btn.btn-primary.btn-xs(href="#/categories/create")
              | New
    div.panel-body.categories
      div.parent(ng-repeat="c in categories")
        | {{c.name}}&nbsp;&nbsp;
        a.btn.btn-xs(ng-click="addCategoryTo(c)")
          | add
        a.btn.btn-xs(href="#/categories/edit/{{c.id}}")
          | edit
        a.btn.btn-xs(ng-click="deleteCategory(c)")
          | delete
        div.child(ng-repeat="subc in c.subcategories")
          | {{subc.name}}
          a.btn.btn-xs(ng-click="removeCategory(c, subc)")
            | remove