
div.pull-left
div.pull-right
  a(href="#/questions")
    | Questions
  div.spacer
  //- a(href="https://gitter.im/sjlu/testable" target="_new")
    i.fa.fa-comment
  a(href="/logout")
    i.fa.fa-sign-out