.auth
  height: 100%

  padding-top: 25px

  .auth-input
    background-color: white
    padding: 8px

    border-left: 1px solid #ccc
    border-right: 1px solid #ccc

    &.auth-separator
      border-bottom: 1px solid #ccc

    &:first-child
      border-top: 1px solid #ccc

    input
      font-size: 16px

      border: 0
      box-shadow: none

      text-align: center

      &:focus
        outline: none;
        box-shadow: none

  button
    width: 100%
    border-radius: 0
    background-clip: inherit

    border: 0

  a
    margin-top: 8px