{{define "layout"}}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" context="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">

    <title>testable</title>

    <script src="//use.typekit.net/eku3jaw.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="/public/build/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/build/styles.css">
    <link rel="icon" type="image/png" href="/public/images/favicon.png">
  </head>
  <body>
    {{template "body" .}}

    <script src="/public/build/bower.js"></script>

    {{template "scripts" .}}

    <script src="http://127.0.0.1:35729/livereload.js"></script>
  </body>
</html>
{{end}}